body {
    padding-left: 12em;
    font-family: Arial;
    color: #fdfdfc;
    background-color: #b69505; 
}

h1 {
  font-family: Arial; 
  text-align: center;
}


img { 
margin: auto;
float: center;
display: block;
}

p{
padding:10px 10px 10px 10px;
margin-right: 10em;
background: #ffffff; 
color: #837a04; 
font-family: Arial;
border: solid #070707 5px;
}

li a {
	padding: .2em 0 .2em 1.5em;
	display: block;
	text-decoration: none;
  background: #05bddd;
}

li {
  border-top: 2px solid #0d0ad6;
}

li a:hover, li a:active {
  background: #011861;
}

li a:visited {
  color:black;
}

ul {
  padding: 5px;
  margin: 0;
  width: 160px;
  list-style: none;
  background: #fffefe;	
  position:fixed;
  left:20px;
  top:100px;		
}


  


