p { font-family:Arial;
    text-align: justify;
}

h1{
    color: rgb(42, 3, 82);
}

h2{
    color: rgb(151, 0, 0);
}
body{
    background-color: rgb(0, 184, 0);
    color: white;
    margin: 20px;
    
}
img{
    margin: 30px;
    
}
ul{
    align="right"
    margin: 20px;
}
ul {
    padding: 5px;
    margin: 0;
    width: 160px;
    list-style: none;
    background: #ffa601;	
    position:static;
    left:20px;
    top:100px;		
}

li a {
  padding: .2em 0 .2em 1.5em;
  display: block;
  text-decoration: none;
  background: #00ffff;
}

li {
    border-top: 2px solid #ffa601;
}


li a:hover, li a:active {
    background: #003246;
}

li a:visited {
    color:rgb(0, 0, 0);  
}
iframe {
    position: static;
    max-width:1000px;
    
}